* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.store-icon {
  width: 250px;
  height: 75px;
}

.social-icon {
  width: 32;
  height: 32;
  border-radius: 50%;
}

.logo-container {
  border-radius: 8px;
  background-color: transparent;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section.fade-out {
  opacity: 0;
  transform: translateY(20px);
}
