* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.store-icon {
  width: 250px;
  height: 75px;
}

.social-icon {
  width: 32;
  height: 32;
  border-radius: 50%;
}

.logo-container {
  border-radius: 8px;
  background-color: transparent;
}

.hero-container {
  padding-right: 48px;
  padding-left: 48px;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  width: 100%;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

.demo-list-details li {
  list-style: circle;
}

/* artifacts */

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-move {
  background-size: 200% 200%;
  animation: borderMove 2s linear infinite;
}
