image: openended/openended-backend:latest

definitions:
  services:
    docker:
      memory: 512
    docker-with-more-memory:
      memory: 2048
      type: docker
    docker-with-large-memory:
      memory: 5120
      type: docker

options:
  docker: true

pipelines:
  # default:
    # - parallel:
      # - step:
      #     name: Code linting
      #     script:
      #       - echo "Running lint..."
      #       - npm install eslint
      #       - npx eslint .
      # - step:  
      #     name: Build
      #     script:
      #       - echo "Running build..."
      #       - npm install
      #       - npm run build
      # - step:  
      #     name: Test
      #     script:
      #       - echo "Running tests..."
      #       - npm install
      #       - npm run test
  branches:
    dev:
      - step:
          services: [docker-with-large-memory]
          size: 2x
          name: Build, Tag and Push the Dev Docker image
          script:
            - echo "Logging in to Docker registry"
            - echo "JV,2rEsC_w7mGq~" | docker login --username openended --password-stdin
            - docker system prune -af
            - echo "Building Docker image"
            - docker build -t openended-backend:latest .
            - echo "Tagging Docker image"
            - docker tag openended-backend:latest openended/openended-backend
            - docker images
            - echo "Pushing Docker image to registry"
            - docker push openended/openended-backend
    stage:
      - step:
          name: Build, Tag and Push the Stage Docker image
          script:
            - echo "Logging in to Docker registry"
            - echo "JV,2rEsC_w7mGq~" | docker login --username openended --password-stdin
            - docker system prune -af
            - echo "Building Docker image"
            - docker build -t openended-backend:stage-10 .
            - echo "Tagging Docker image"
            - docker tag openended-backend:stage-10 openended/openended-backend:stage-10
            - docker images
            - echo "Pushing Docker image to registry"
            - docker push openended/openended-backend:stage-10